body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilo para el contenedor principal */
.container {
    text-align: center;
    margin: 20px auto;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

/* Estilo para el input de tipo archivo */
input[type="file"] {
    display: block;
    margin: 10px auto;
    text-align: center; /* Centrar el texto dentro del input */
}

/* Estilo para los botones */
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px auto; /* Centrar los botones horizontalmente */
    display: block;
    width: fit-content; /* Ancho automático para adaptarse al contenido */
}

/* Estilo para el label */
label {
    display: block;
    text-align: center;
}
